.item-content__info-note{
    font-size: 29px;
}
 .item-extra__icon-arrow{
    font-size: 58px;
}

.at-list__item::after{
    border: 0;
}

 .item-extra__icon{
    right: -1px;
}

.at-list::after{
    border-bottom-width: 0px;
    border-top-width: 0px;
}