.at-article__p {
    line-height: 46px;
    margin: 70px 8px
 }
 .at-article__h1{
    margin-top: 0.64rem;
    font-size: 1.024rem;
    line-height: 1.536rem;
    text-align: center;
 }
 .at-article__info{
    margin: 0 0.68rem 40px 0.68rem;
    color: #CCC;
    font-size: 0.59733rem;
    line-height: 0.896rem;
    text-align: center
 }
 