.at-avatar--small{
    width: 150px;
    height: 150px;
 }
 .at-list{
    border-radius: 10px;
    margin-bottom: 18px;
}

.at-list__item::after{
    border-bottom:0px;
 }
 .at-list::after{
     border-bottom-width: 0px;
     border-top-width: 0px;
 }