
.containerview-first{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

 .topnav-first{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
    width: 100%;
  
}
.content-first{
width: 100%;
height: 160px;
background-color: #fb5554;
margin: 0px auto;
padding: 0px;
text-align: left;
}
.nagator-first{
width: 100%;
float: left;
height: 160px;

}
.daohanwrrow-first{
width: 45%;
float: left;
height: 160px;
}
.nagatortitle-first{
width: 55%;
float: left;
height: 120px;

font-size: 38px;
color: #fff;
padding-top: 40px
}

.listcontent{
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 160px;
    padding-top: 20px;
    
}
.functionmenu{
    width: 96%;
    margin: 2% auto;
    padding: 0px;
    height: 100%;
    margin-bottom: 120px;
}
.firstrow{
    width: 100%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    background-image: url(../../asset/image/startoderdood.png)
}
.nextrow{
    width: 100%;
    margin: 0 auto;
}
.nextrow-one{
    width: 100%;
    margin-top: 30px;
    float: left;
}
.nextrow-one-imae1{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    background-image: url(../../asset/image/mymenu.png);
    margin-right: 2%;
    float: left;
}
.nextrow-one-imae2{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    background-image: url(../../asset/image/rules.png);
    margin-left: 2%;
    float: left;
}


.nextrow-two{
    width: 100%;
    margin-top: 30px;
    float: left;
}

.nextrow-two-imae1{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    background-image: url(../../asset/image/gonggao.png);
    margin-right: 2%;
    float: left;
}
.nextrow-two-imae2{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    background-image: url(../../asset/image/mine.png);
    margin-left: 2%;
    float: left;
}

