//悬浮窗

.at-float-layout .layout-body__content {
    max-height: 500px; 
   min-height: 190px;
   height: auto;
   
   }
   
   .at-float-layout__container{
   min-height: 190px;
   height: auto;
   max-height: 500px;
   font-size: 20px;
   height: auto;
   
   }
   .at-float-layout .layout-body{
   min-height: 190px;
   max-height: 500px;
   font-size: 20px;
   max-height: auto;
   height: auto;
   padding: 0px;
   margin: 0px;
   }
   .at-float-layout__container.layout {
   margin:0px 0px 160px 0px;
   padding: 0px;
   }
   .at-float-layout__overlay{
   height: 85%;
   }
   .at-float-layout{
   z-index: 800;
   overflow:scroll;
   }


   //叉号按钮
.at-curtain__btn-close{
    width: 56px;
    height: 56px;
    
}
.at-curtain__btn-close::before{
   width: 26px;
}
.at-curtain__btn-close::after{
   width: 26px;
}
.at-curtain__btn-close--bottom{
   margin-left: -20px;
}

.at-tabs__item{
    padding: 20px 24px;
    font-size: 34px;
    font-family: "微软雅黑";
    }
    
    .at-tabs{
        overflow-y: scroll;
        overflow-x: hidden;
        //margin-bottom: 250px;
        .at-tabs__body{
            margin-bottom: 430px;
        }
    }
    
    // .at-tabs-pane--active{
    //    // margin-bottom: 120px;
    // }
    