.item-extra__info{
    font-size: 30px;
    text-align: right;
    padding-right: 0px;
   
}

// .at-list__item-content{
//     margin-right: 0px;
//     //position: relative;
// }
.at-list__item-extra {
    width: auto;
}

.at-list__item::after{
    border: 0;
}


.at-list::after{
    border-bottom-width: 0px;
    border-top-width: 0px;
}