
.containerview-first{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.listcontent{
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 160px;
    padding-top: 20px;
    
}
.functionmenu{
    width: 96%;
    margin: 2% auto;
    padding: 0px;
    height: 100%;
    margin-bottom: 150px;
}
.firstrow{
    width: 100%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    //background-image: url(../../asset/image/startoderdood.png)
}
.taro-img{
    width: 100%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
}
.firstrow-image{
    width: 100%;
    height: 260px;
}
.nextrow{
    width: 100%;
    margin: 0 auto;
}
.nextrow-one{
    width: 100%;
    margin-top: 30px;
    float: left;
}
.nextrow-one-imae1{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    //background-image: url(../../asset/image/mymenu.png);
    margin-right: 2%;
    float: left;
}
.mymenu{
    width: 100%;
    height: 260px;
}


.nextrow-one-imae2{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    background-image: url(../../asset/image/rules.png);
    margin-left: 2%;
    float: left;
}
.rules{
    width: 100%;
    height: 260px;
}

.nextrow-two{
    width: 100%;
    margin-top: 30px;
    float: left;
}

.nextrow-two-imae1{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    //background-image: url(../../asset/image/gonggao.png);
    margin-right: 2%;
    float: left;
}
.gonggao{
    width: 100%;
    height: 260px;
}
.nextrow-two-imae2{
    width: 48%;
    height: 260px;
    border-radius: 10px;
    border: 0px;
    //background-image: url(../../asset/image/mine.png);
    margin-left: 2%;
    float: left;
}
.mine{
    width: 100%;
    height: 260px;
}

